#[link(name = "git2", vers = "0.0", author = "eevee")];
#[comment = "Rust bindings for git2"];
#[crate_type = "lib"];

extern mod std;

// TODO how can i make this private but still use it within the crate?
pub mod c;

pub mod commit;
pub mod index;
pub mod objectid;
pub mod repository;
pub mod signature;
