#[link(name = "git2", vers = "0.0", author = "eevee")];
#[comment = "Rust bindings for git2"];
#[crate_type = "lib"];

#[legacy_exports]
mod c;

pub mod commit;
pub mod index;
pub mod objectid;
pub mod repository;
pub mod signature;
